<head>
<link rel="stylesheet" type="text/css" href="../style/main.css">
</head>
<body>
    <div class="m-main-wrapper">
        <nav class="m-sidder">
            <div class="m-sidder-content">
                <h1 class="m-logo">Mockupy</h1>
                <hr class="m-line">
                <ul class="m-controls">
                    <li>Herramienta 1</li>
                    <li>Herramienta 2</li>
                    <li>Herramienta 3</li>
                </ul>
            </div>
        </nav>
        <section class="m-main-wrapper">
            <div class="m-main-content">                
            </div>         
        </section>
    </div>
</body>