<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="../styles/proto-main.css">
	</head>
		<body>
			<div class="proto-main-wrapper">
					<nav class="proto-sidder">
						<div class="proto-sidder-content">
						<h1 class="proto-logo">Protoshop</h1>
						<hr class="proto-line">
						<ul class="proto-controls">
							<li>Herramienta 1</li>
							<li>Herramienta 2</li>
							<li>Herramienta 3</li>
						</ul>
					</div>
				</nav>
				<section class="proto-main-wrapper">
					<div class="proto-main-content"></div>
				</section>
			</div>
		</body>
</html>
