<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="../styles/proto-main.css">
	</head>
	<title>Protoshop</title>
		<body>
			<div class="proto-wrapper">
					<nav class="proto-sidder">
						<div class="proto-sidder-content">
						<header>
							<h1>Protoshop</h1>
							<hr/>
						</header>
						<ul class="proto-controls">
							<li>Herramienta 1</li>
							<li>Herramienta 2</li>
							<li>Herramienta 3</li>
						</ul>
					</div>
					<footer>
							Estado
					</footer>
				</nav>
				<section class="proto-main-wrapper">
					<div class="proto-main-content">
						<div class="proto-desktop">
							<header>
								<div class="proto-nav">
								<ul>
									<li class="active tab">
									<span class="start-tab"></span>
									<span class="content-tab">
										Prototipo 1 
										<button></button>
									</span>
									<span class="end-tab"></span>
									</li>
									
									<li class="tab">
									<span class="start-tab"></span>
									<span class="content-tab">
										Prototipo 2 
										<button></button>
									</span>
									<span class="end-tab"></span>
									</li>

									<li class="add tab">
									<button>
										<span class="start-tab"></span>
										<span class="content-tab">
										<span class="add-icon"></span>
											Nuevo
										</span>
										<span class="end-tab"></span>
									</button>
									</li>
								</ul>
								<div class="">
								</div>
							</div>
							</header>
						</div>
					</div>
				</section>
			</div>
		</body>
</html>
