.proto-desktop{
	width:1024px;
	height:768px;
	background: white;
	border-style:solid;
	border-width:1px;
	border-color:$prim-blueprint;
	header{
		cursor:move;
		font-family:'pt_sansbold_italic';
		@include border-top-radius(8px);
		position:relative;
		top:-8px;
		width:100%;
		min-height:115px;
		background: $prim-blueprint;
		position:relative;
		.proto-nav{
			cursor:default;
			position:absolute;
			bottom:0;
			@include box-sizing(border-box);
			padding-left:30px;
			width:100%;
			min-height:70px;
			background: $sec-blueprint;
			@include text-shadow(1px 1px 0px rgba($prim-blueprint,0.5));

			ul{
			position:absolute;
			float:left;
			top:-24px;
				li.tab{
				@include inline-block;
				margin-right:-5px;
				cursor:pointer;
					.start-tab{
						display:block;
						float:left;
						width:11px;
						height:24px;
						background-image:url("../images/start-unfocus-tab.png");
						background-repeat:no-repeat;
					}
					.content-tab{
						line-height:24px;
						position:relative;
						padding-left:10px;
						padding-right:30px;
						display:block;
						float:left;
						color:$sec-blueprint;
						background: darken($sec-blueprint,17%);
						height:22px;
						button{
						&::-moz-focus-inner { border: 0; }
							border-width:0px;
							cursor:pointer;
							@include border-radius(50%);
							position:absolute;
							background:none;
							border:none;
							right:-2px;
							top:3px;
							width:20px;
							height:20px;
							background-image:url("../images/close.png");
							background-repeat:no-repeat;
							background-position:center center;
							&:hover{
								background-image:url("../images/high-close.png");
							}
							&:active{
							background-color:$prim-blueprint;
								@include box-shadow(darken($prim-blueprint, 15%) 0px 0px 5px 0 inset);
							}
						}
						
					}
					.end-tab{
						display:block;
						float:right;
						width:13px;
						height:24px;
						background-image:url("../images/end-unfocus-tab.png");
						background-repeat:no-repeat;
					}
				&.active{
				cursor:default;
					.start-tab{
					background-image:url("../images/start-tab.png");
					}
					.content-tab{
						height:24px;
						color:$prim-blueprint;
						background: $sec-blueprint;
						@include text-shadow(1px 1px 0px rgba(white,0.5));
					}
					.end-tab{
					background-image:url("../images/end-tab.png");
					}
				}
				&.add{
				position:relative;
				left:-0px;
				button{
				font-family:'pt_sansbold_italic';
				font-size:14px;
				@include text-shadow(1px 1px 0px rgba(255,255,255,0.5));
				&::-moz-focus-inner { border: 0; }
				cursor:pointer;
				background:none;
				border-width:0;
				.start-tab{
					display:block;
					float:left;
					width:9px;
					height:20px;
					background-image:url("../images/start-new-tab.png");
				}
				.content-tab{
					padding-left:2px;
					padding-right:2px;
					@include box-sizing(border-box);
					color:$sec-high;
					line-height:20px;
					position:relative;
					display:block;
					float:left;
					background: $sec-blueprint;
					height:20px;
					.add-icon{
						display:block;
						float:left;
						width:10px;
						height:10px;
						margin-right:5px;
						position:relative;
						top:5px;
						background-image:url("../images/add.png");
					}
				}
				.end-tab{
					display:block;
					float:right;
					width:9px;
					height:20px;
					background-image:url("../images/end-new-tab.png");
				}
				}
				&:hover{
				.start-tab{
					background-image:url("../images/start-new-hover-tab.png")
				}
				.content-tab{
					background:$sec-high;
					color:white;
					@include text-shadow(1px 1px 0px rgba($sec-high,0.5));
					.add-icon{
						background-image:url("../images/add-hover.png");
					}
				}
				.end-tab{
					background-image:url("../images/end-new-hover-tab.png")
				}
				&:active{
				.start-tab{
					background-image:url("../images/start-new-active-tab.png")
				}
				.content-tab{
					@include text-shadow(1px 1px 0px rgba(white,0.5));
					color:$sec-high;
					background:white;
					.add-icon{
						background-image:url("../images/add.png");
					}
				}
				.end-tab{
					background-image:url("../images/end-new-active-tab.png")
				}
				}
				}
				}
			}
			}
		}
		.proto-search{
			padding-top:20px;
			button.undo{
				&::-moz-focus-inner { border: 0; }
				position:relative;
				z-index:2;
				bottom:6px;	
				float:left; 
				width:40px;
				height:40px;
				background-color:white;
				@include border-radius(50%);
				@include box-sizing(border-box);
				border: 2px solid darken($prim-blueprint,10%);
				span{
					display:block;
					float:left;
					width:24px;
					height:16px;
					position:relative;
					left:5px;
					background-image:url("../images/undo.png");
				}
			}
			.search-box{
				position:relative;
				float:left; 	
				z-index:0;
				height:27px;
				min-width:88%;
				left:-10px;
				background-color:lighten($sec-blueprint,15%);
				@include border-radius(5px);
				@include box-sizing(border-box);
				border: 1px solid $prim-blueprint;
				button{
				&::-moz-focus-inner { border: 0; }
					@include box-sizing(border-box);
					position:relative;
					bottom:-1px;
					display:block;
					float:left;
					width:35px;
					height:23px;
					background:lighten($sec-blueprint,20%);
					border:0px none;
					border-right: 1px solid darken($prim-blueprint,10%);
					span{
						position:relative;
						right: -12px;
						display:block;
						float:left;
						background-image:url("../images/redone.png");
						width:14px;
						height:11px;
					}
				}
			}
			button{
				width:26px;
				height:26px;
				display:block;
				float:left;
				background:none;
				border: 0px none;
				@include border-radius(5px);
					&:hover{
						background: lighten($sec-blueprint,10%);
					}
					&:active{
						@include box-shadow(darken($prim-blueprint, 15%) 0px 0px 5px 0 inset);
					}
			
			&.display-row{
				span{
					margin-left:6px;
					width:14px;
					height:17px;
					display:block;
					float:left;
					background-image:url("../images/columnas.png");
				}
			}
			&.display-config{
				margin-left:5px;
				span{
					margin-left:4px;
					width:18px;
					height:18px;
					display:block;
					float:left;
					background-image:url("../images/config.png");
				}
			}
		}
		}
	}
}
