*{
	margin:0px;
	padding:0px;

}

html, body{
	margin:0px;
	padding:0px;
	min-width:100%;
	min-height:100%;
	font-family:helvetica, arial, sans-serif;
}

body{
	background-color:$sec-background;
	background-image:url('../images/grid.png');
}

