*{
	margin:0px;
	padding:0px;

}

html, body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	font-family:helvetica, arial, sans-serif;
}

body{
	background-image:url('../images/grid.png');
}

