
.proto-main-wrapper{
	min-width:100%;
	min-height:100%;
}

.proto-sidder{
	color:white;
	height:100%;
	@include box-sizing(border-box);
	width:$sider-width;
	position:absolute;
	left:$slider-pos;
	@include box-shadow(rgba(darken(black, 5%),0.2) 0px -5px 10px 0 inset);

		.proto-sidder-content{
			padding-top:10px;
			padding-left:10px;
			@include box-sizing(border-box);
			height:100%;
			padding-bottom:$status-bar;
			header{
				h1{
					margin-bottom:30px;
					margin-top:40px;
					margin-left:20px;
					color:$prim-high;
					width:200px;
					height:40px;
					background-image: url('../images/logo.png');
					background-position:center center;
					background-repeat:no-repeat;
					font-size:0px;
					font-weight:lighter;
				}
				hr{
				border-width:0px 0px 0px 0px;
				height:1px;
				background-image:url('../images/hr.jpg');
				}
				
					margin-bottom:20px;
			}
		}
	footer{
		margin-top:-$status-bar;
		height: $status-bar;
		width:100%;
		background:$sec-background;
	}
}



