
.proto-main-wrapper{
    display:block;
    float:left;
    
}

.proto-sidder{
    background:#005b9f;
    color:white;
    float:left;
    height:100%;
    padding:0px 20px 0px 50px;
    
}

.proto-sidder-content{
    padding-top:10px;
}

.proto-logo{
    padding-bottom:10px;
}

.proto-line{
    margin-bottom:10px;
}

.proto-main-content{
    margin-left:50%;
    margin-top:20px;
    background:rgba(255,255,255,0.5);
    border-style:solid;
    border-color:#005b9f;
    border-width:1px;
    width:500px;
    height:500px;
    
}
