$prim-background: #1f1f20;
$sec-background: #606d80;
$prim-high: #56dbbb;
$sec-high: #ff0ba9;

$prim-blueprint: #567ebb;
$sec-blueprint: lighten(#567ebb,27%);

$sider-width: 250px;
$slider-pos: 0px;
$status-bar: 30px;

