$prim-background: #1cbabc;
$sec-background: #606d80;
$prim-high: #1cbabc;
$sec-high: #ff0ba9;

//$prim-blueprint: #567ebb;
$prim-blueprint:#1cbabc;
$sec-blueprint: lighten($prim-blueprint,27%);

$sider-width: 250px;
$slider-pos: 0px;
$status-bar: 30px;

