/* line 17, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'pt_sansbold_italic';
  src: url("fonts/PTS76F-webfont.eot");
  src: url("fonts/PTS76F-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/PTS76F-webfont.woff") format("woff"), url("fonts/PTS76F-webfont.ttf") format("truetype"), url("fonts/PTS76F-webfont.svg#pt_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/modules/_global.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 7, ../sass/modules/_global.scss */
html, body {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  min-height: 100%;
  font-family: helvetica, arial, sans-serif;
}

/* line 15, ../sass/modules/_global.scss */
body {
  background-color: #606d80;
  background-image: url("../images/grid.png");
}

/* line 2, ../sass/modules/_sider.scss */
.proto-main-wrapper {
  min-width: 100%;
  min-height: 100%;
}

/* line 7, ../sass/modules/_sider.scss */
.proto-sidder {
  background: #1f1f20;
  color: white;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  position: absolute;
  left: 0px;
  -webkit-box-shadow: #121213 -10px -5px 10px 0 inset;
  -moz-box-shadow: #121213 -10px -5px 10px 0 inset;
  box-shadow: #121213 -10px -5px 10px 0 inset;
}
/* line 17, ../sass/modules/_sider.scss */
.proto-sidder .proto-sidder-content {
  padding-top: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 30px;
}
/* line 23, ../sass/modules/_sider.scss */
.proto-sidder .proto-sidder-content header {
  margin-bottom: 20px;
}
/* line 24, ../sass/modules/_sider.scss */
.proto-sidder .proto-sidder-content header h1 {
  padding-bottom: 10px;
  color: #56dbbb;
  font-size: 35px;
  font-weight: 200;
}
/* line 30, ../sass/modules/_sider.scss */
.proto-sidder .proto-sidder-content header hr {
  border-width: 1px 0px 0px 0px;
  border-top-color: #606d80;
}
/* line 38, ../sass/modules/_sider.scss */
.proto-sidder footer {
  margin-top: -30px;
  height: 30px;
  width: 100%;
  background: #606d80;
}

/* line 1, ../sass/modules/_content.scss */
.proto-main-wrapper {
  padding: 20px 20px 20px 270px;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/modules/_desktop.scss */
.proto-desktop {
  border-style: solid;
  border-width: 1px;
  border-color: #56dbbb;
  width: 800px;
  height: 600px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 10, ../sass/modules/_desktop.scss */
.proto-desktop header {
  cursor: move;
  font-family: 'pt_sansbold_italic';
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  border-left: 1px solid #56dbbb;
  border-top: 1px solid #56dbbb;
  border-right: 1px solid #56dbbb;
  position: relative;
  top: -8px;
  left: -1px;
  width: 100%;
  min-height: 115px;
  background: #56dbbb;
  position: relative;
}
/* line 24, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav {
  cursor: default;
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
  width: 100%;
  min-height: 70px;
  background: #c8f3e9;
  text-shadow: 1px 1px 0px rgba(86, 219, 187, 0.5);
}
/* line 35, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul {
  position: absolute;
  float: left;
  top: -24px;
}
/* line 39, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: -5px;
  cursor: pointer;
}
/* line 43, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab .start-tab {
  display: block;
  float: left;
  width: 11px;
  height: 24px;
  background-image: url("../images/start-unfocus-tab.png");
  background-repeat: no-repeat;
}
/* line 51, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab .content-tab {
  line-height: 24px;
  position: relative;
  padding-left: 10px;
  padding-right: 20px;
  display: block;
  float: left;
  color: #ddf8f1;
  background: #80e4cc;
  height: 22px;
}
/* line 61, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab .content-tab button {
  border-width: 0px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  background: none;
  border: none;
  right: -2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 62, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab .content-tab button::-moz-focus-inner {
  border: 0;
}
/* line 76, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab .content-tab button:hover {
  background-image: url("../images/high-close.png");
}
/* line 79, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab .content-tab button:active {
  background-color: #56dbbb;
  -webkit-box-shadow: #28bc99 0px 0px 5px 0 inset;
  -moz-box-shadow: #28bc99 0px 0px 5px 0 inset;
  box-shadow: #28bc99 0px 0px 5px 0 inset;
}
/* line 86, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab .end-tab {
  display: block;
  float: right;
  width: 13px;
  height: 24px;
  background-image: url("../images/end-unfocus-tab.png");
  background-repeat: no-repeat;
}
/* line 94, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.active {
  cursor: default;
}
/* line 96, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.active .start-tab {
  background-image: url("../images/start-tab.png");
}
/* line 99, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.active .content-tab {
  height: 24px;
  color: #2dd1aa;
  background: #c8f3e9;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}
/* line 105, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.active .end-tab {
  background-image: url("../images/end-tab.png");
}
/* line 109, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add {
  position: relative;
  left: -0px;
}
/* line 112, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add button {
  font-family: 'pt_sansbold_italic';
  font-size: 14px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  background: none;
  border-width: 0;
}
/* line 116, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add button::-moz-focus-inner {
  border: 0;
}
/* line 120, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add button .start-tab {
  display: block;
  float: left;
  width: 9px;
  height: 20px;
  background-image: url("../images/start-new-tab.png");
}
/* line 127, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add button .content-tab {
  padding-left: 2px;
  padding-right: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ff0ba9;
  line-height: 20px;
  position: relative;
  display: block;
  float: left;
  background: #c8f3e9;
  height: 20px;
}
/* line 138, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add button .content-tab .add-icon {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  position: relative;
  top: 5px;
  background-image: url("../images/add.png");
}
/* line 149, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add button .end-tab {
  display: block;
  float: right;
  width: 9px;
  height: 20px;
  background-image: url("../images/end-new-tab.png");
}
/* line 158, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add:hover .start-tab {
  background-image: url("../images/start-new-hover-tab.png");
}
/* line 161, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add:hover .content-tab {
  background: #ff0ba9;
  color: white;
  text-shadow: 1px 1px 0px rgba(255, 11, 169, 0.5);
}
/* line 165, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add:hover .content-tab .add-icon {
  background-image: url("../images/add-hover.png");
}
/* line 169, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add:hover .end-tab {
  background-image: url("../images/end-new-hover-tab.png");
}
/* line 173, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add:hover:active .start-tab {
  background-image: url("../images/start-new-active-tab.png");
}
/* line 176, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add:hover:active .content-tab {
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  color: #ff0ba9;
  background: white;
}
/* line 180, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add:hover:active .content-tab .add-icon {
  background-image: url("../images/add.png");
}
/* line 184, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-nav ul li.tab.add:hover:active .end-tab {
  background-image: url("../images/end-new-active-tab.png");
}
/* line 193, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search {
  padding-top: 20px;
}
/* line 195, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search button.undo {
  position: relative;
  z-index: 2;
  bottom: 6px;
  float: left;
  width: 40px;
  height: 40px;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #2dd1aa;
}
/* line 196, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search button.undo::-moz-focus-inner {
  border: 0;
}
/* line 207, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search button.undo span {
  display: block;
  float: left;
  width: 24px;
  height: 16px;
  position: relative;
  left: 5px;
  background-image: url("../images/undo.png");
}
/* line 217, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search .search-box {
  position: relative;
  float: left;
  z-index: 0;
  height: 27px;
  min-width: 85%;
  left: -10px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #56dbbb;
}
/* line 228, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search .search-box button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  bottom: -1px;
  display: block;
  float: left;
  width: 35px;
  height: 23px;
  background: white;
  border: 0px none;
  border-right: 1px solid #2dd1aa;
}
/* line 229, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search .search-box button::-moz-focus-inner {
  border: 0;
}
/* line 240, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search .search-box button span {
  position: relative;
  right: -12px;
  display: block;
  float: left;
  background-image: url("../images/redone.png");
  width: 14px;
  height: 11px;
}
/* line 251, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search button {
  width: 26px;
  height: 26px;
  display: block;
  float: left;
  background: none;
  border: 0px none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 259, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search button:hover {
  background: #ddf8f1;
}
/* line 262, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search button:active {
  -webkit-box-shadow: #28bc99 0px 0px 5px 0 inset;
  -moz-box-shadow: #28bc99 0px 0px 5px 0 inset;
  box-shadow: #28bc99 0px 0px 5px 0 inset;
}
/* line 267, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search button.display-row span {
  margin-left: 6px;
  width: 14px;
  height: 17px;
  display: block;
  float: left;
  background-image: url("../images/columnas.png");
}
/* line 276, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search button.display-config {
  margin-left: 5px;
}
/* line 278, ../sass/modules/_desktop.scss */
.proto-desktop header .proto-search button.display-config span {
  margin-left: 4px;
  width: 18px;
  height: 18px;
  display: block;
  float: left;
  background-image: url("../images/config.png");
}
